<div class="container mt-5">
  <div class="row justify-content-center mb-3">
    <div class="col-md-8 mb-3">
      <div class="card mb-3">
        <div class="card-header text-center mb-3">
          <h2>Redigera bok</h2>
        </div>
        <div class="card-body">
          <form *ngIf="editingBook.id" (ngSubmit)="updateBook()">
            <div class="form-group mb-3">
              <label for="title">Titel:</label>
              <input
                id="title"
                [(ngModel)]="editingBook.title"
                name="title"
                class="form-control"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="author">Författare:</label>
              <input
                id="author"
                [(ngModel)]="editingBook.author"
                name="author"
                class="form-control"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="publicationDate">Publiceringsdatum:</label>
              <input
                id="publicationDate"
                [(ngModel)]="editingBook.publicationDate"
                name="publicationDate"
                type="date"
                class="form-control"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3">
              Uppdatera bok
            </button>
          </form>
          <button
            (click)="navigateToBookList()"
            class="btn btn-secondary btn-block mt-3"
          >
            Tillbaka till boklistan
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
