# .NET
*.dll
*.exe
*.obj
*.log
*.vspscc
*.vssscc
.vscode/
.vs/
TestResults/
[Bb]in/
[Oo]bj/
!.gitkeep
.env
# Do not ignore data.json 
!BookBackend/data.json
# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
