<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h2>Add Quote</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="addQuote()">
            <div class="form-group mb-3">
              <label for="text">Citat:</label>
              <input
                id="text"
                [(ngModel)]="newQuote.text"
                name="text"
                class="form-control"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="author">Författare:</label>
              <input
                id="author"
                [(ngModel)]="newQuote.author"
                name="author"
                class="form-control"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Lägg till citat</button>
          </form>
          <button (click)="navigateToQuoteList()" class="btn btn-secondary btn-block mt-3">Tillbaka till mina ciat</button>
        </div>
      </div>
    </div>
  </div>
</div>
